<% content_for :title do %>
Login
<% end %>
<div id="containerhome">
	<div id="login">
		<div id="slider">
			<h1>100% Online</h1>
			<h2>Crea y firma tus documentos</h2>
		</div>
		<div id="formulariologin">
			<%= form_tag sessions_path do %>
    			<%= text_field_tag :email, params[:email], { placeholder: 'E-mail', class: 'inputhome'} %>
    			<%= password_field_tag :password, nil, { placeholder: 'Password', class: 'inputhome'} %>
    			<%= submit_tag "Login", { class: 'loginboton' } %>
			<% end %>
		</div>
		<%= image_tag "login.png", { height: 400, width: 533, class: 'imagenlogin' } %>
	</div>
	<div id="headline">
		<div id="box_1_3">
			<h3>Fácil</h3>
		</div>
		<div id="box_1_3">
			<h3>Rápido</h3>
		</div>
		<div id="box_1_3">
			<h3>Seguro</h3>
		</div>
	</div>
	<div id="servicios">
		<div id="box_1_3">
			<p>Registrate como usuario en nuestro sitio, sube todos los documentos que quieras y luego firmalos para validarlos o enviarlos a tus contactos. Todo 100% online.</p>
		</div>
		<div id="box_1_3">
			<p>Sube tus documentos en segundos, firmalos de inmediato sin trámites ni interrupciones, sin viajes ni pérdidas de tiempo. Con tan solo un click valida lo que quieras.</p>
		</div>
		<div id="box_1_3">
			<p>Contamos con un sistema preparado para proteger los datos personales de nuestros clientes y mantener la confidencialidad de todos sus documentos.</p>
		</div>
	</div>
	<div id="headline">
		<h3>Pasos a seguir</h3>
	</div>
	<div id="info2">
		<h3>1. Registrate</h3>
		<br>
		<div id="bio2">
			<%= image_tag "paso1.png", { width: 450, class: 'imagenpasos' } %>
			<p>Ingresa a nuestro sitio web, crea un nuevo usuario con tus datos personales y podrás comenzar a utilizar nuestro servicio inmediatamente.</p>
		</div>
		<h3>2. Sube tu documento</h3>
		<br>
		<div id="bio2">
			<%= image_tag "paso1.png", { width: 450, class: 'imagenpasos' } %>
			<p>A través de nuestro administrador sube todos los documentos que necesites firmar y almacénalos en tu biblioteca virtual.</p>
		</div>
		<h3>3. Firmalo</h3>
		<br>
		<div id="bio2">
			<%= image_tag "paso1.png", { width: 450, class: 'imagenpasos' } %>
			<p>Escoge de tu biblioteca el documento a firmar, ingresa tus datos de seguridad para verificar tu identidad y firma de manera segura y confiable.</p>
		</div>
		<h3>4. Envíalo</h3>
		<br>
		<div id="bio2">
			<%= image_tag "paso1.png", { width: 450, class: 'imagenpasos' } %>
			<p>Cuando hayas realizado el proceso de firma, podrás enviar el documento a todos los usuarios que quieras enviándoles una invitación a compartir el documento. Invitándolos así a firmar en conjunto.</p>
		</div>
	</div>
</div>