<% content_for :title do %>
Login
<% end %>
<div id="container">
	<div id="headline">
		<h3>Registrate con nosotros</h3>
	</div>
	<div id="info">
		<%= form_for @user do |f| %>
			<%= f.label :avatar, 'Imagen de Perfil' %>
		    <%= f.file_field :avatar %>
			<%= f.label :first_name, 'Nombres' %>
			<%= f.text_field :first_name %>
			<%= f.label :last_name, 'Apellidos' %>
			<%= f.text_field :last_name %>
			<%= f.label :id_number, 'RUT' %>
			<%= f.text_field :id_number %>
			<%= f.label :email, 'E-mail' %>
			<%= f.text_field :email %>
			<%= f.label :password, 'Contraseña'%> 
			<%= f.password_field :password %>
			<%= f.label :password_confirmation, 'Confirmar contraseña' %>
			<%= f.password_field :password_confirmation %>
			<%= f.label :invite_code, 'Codigo de invitación' %>
			<%= f.text_field :invite_code %>
			&nbsp;
			<p>Informción importante sobre el registro, derechos, seguridad, etc. Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc..</p>
			<%= f.submit "Registrarme", {id: 'submit'} %>
			<% if @user.errors.any? %>
				<div class="error_messages">
				<h2>Form is invalid</h2>
				<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
				</ul>
				</div>
			<% end %>
		<% end %>
		&nbsp;
		<p class="datosextra">*Datos importantes sobre el registro.<br>
		*Datos importantes sobre el registro.<br>
		*Datos importantes sobre el registro.</p>
	</div>
</div>
<%= render "layouts/footer" %>