<% content_for :title do %>
Login
<% end %>
<div id="container">
	<div id="headline">
		<h3>Registrate con nosotros</h3>
	</div>
	<div id="info">
		<%= form_for @user do |f| %>
			<%= f.label :avatar %>
		    <%= f.file_field :avatar %>
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>
			<%= f.label :last_name %>
			<%= f.text_field :last_name %>
			<%= f.label :email %>
			<%= f.text_field :email %>
			<%= f.label :password %>
			<%= f.password_field :password %>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
			&nbsp;
			<p>Informción importante sobre el registro, derechos, seguridad, etc. Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc.Informción importante sobre el registro, derechos, seguridad, etc..</p>
			<%= f.submit "Registrarme", {id: 'submit'} %>
			<% if @user.errors.any? %>
				<div class="error_messages">
				<h2>Form is invalid</h2>
				<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
				</ul>
				</div>
			<% end %>
		<% end %>
		&nbsp;
		<p class="datosextra">*Datos importantes sobre el registro.<br>
		*Datos importantes sobre el registro.<br>
		*Datos importantes sobre el registro.</p>
	</div>
</div>
<footer>
	<p class="left">Todos los Derechos Reservados a Firma Express 2013 / <a href="preguntasfrecuentes.html">Preguntas Frecuentes</a> / <a href="legal.html">Condiciones Legales</a>.</p>
	<p class="right">Dirección: Av. Nombre Nº1234 / Teléfono: +56 2 2342567 / Mail: contacto@firmaexpress.cl</p>
</footer>