<% content_for :title do %>
Login
<% end %>
<div id="container">
	<div id="headline">
		<h3>¿Olvidaste tu password?</h3>
	</div>
	<div id="acceso">
	<p>Ingresa tu dirección de correo electrónico y te enviaremos un mail para realizar el cambio de tu password:</p></br>
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  		<%= devise_error_messages! %>
	  		<%= f.email_field :email, autofocus: true %>
			<%= f.submit "Restablecer contraseña ", {id: 'submit'}%>
			<% # Ruta al controlador de devise para cambiar el redireccionamiento al log-in :  .rvm/gems/ruby-2.1.0/gems/devise-3.2.4/app/controllers/devise %>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>
<%= render "layouts/footer" %>