<% content_for :title do %>
Login
<% end %>
<div id="container">
	<div id="headline">
		<h3>Quiénes Somos</h3>
	</div>
	<div id="info">
		<br>
		<h3>Equipo</h3>
		<br>
		<div id="bio">
			<%= image_tag "danielvera.png", { height: 80, width: 80 } %>
			<div id="datosbio">
				<h4>Daniel Vera M.</h4>
				<h4 class="biodatos">Co-Fundador</h4>
				<h4 class="biodatos">Director Ejecutivo</h4>
			</div>
			<p>Egresado de Derecho y Consultor de innovación con más de 8 años de experiencia especialmente en los sectores eLearning, eCommerce, eHealth, y Open Innovation. Ha sido Director de Proyectos Tecnológicos en Consultora Innovafull e HibridaLab y Director ejecutivo de Pentaurus S.p.A., empresa gestora de diversos proyectos digitales como Betafounders, AgendaStartup, Telemedicos (finalista iGrandprix 2012), Extragym (finalista InnovaBBVA 2011), Siembra.me (semifinalista FIA 2013). Es también Mentor y consultor estratégico para Startups y empresas de medios online como Sinbad.travel (Startup Chile 2012), Communigis (Fundación Chile), Kangoo (Agencia de Marketing), y ZupVentures, entre otras. En Firma Express es el responsable de la dirección ejecutiva y comercial.</p>
		</div>
		<div id="bio">
			<%= image_tag "claudioguerra.png", { height: 80, width: 80 } %>
			<div id="datosbio">
				<h4>Claudio Guerra V.</h4>
				<h4 class="biodatos">Co-Fundador</h4>
				<h4 class="biodatos">Director de Desarrollo</h4>
			</div>
			<p>Ingeniero Informático experto en HTML, CCS, Javascript, PHP, Python, MySQL, PostgreSQL entre otros lenguajes de programación. Ha trabajado para empresas de nuevas tecnologías digitales, especialmente en el campo de aplicaciones second screen y aplicaciones para IPTV. Investigador de nuevas tendencias, ha sido co-fundador de diversos proyectos y participante en concursos como el Geek Fantasy Camp UC y AngelHack, entre otros.
			Formado en INACAP y en numerosos cursos y seminarios, ha obtenido gran experiencia en metodologías de desarrollo para Startups, en particular Lean Startup.
			En Firma Express es el responsable del desarrollo de producto, y de la dirección tecnológica del proyecto, definiendo y monitoreando los procesos de desarrollo y control.</p>
		</div>
		<div id="bio">
			<%= image_tag "patriciojara.png", { height: 80, width: 80 } %>
			<div id="datosbio">
				<h4>Patricio Jara L.</h4>
				<h4 class="biodatos">Co-Fundador</h4>
				<h4 class="biodatos">Director de Seguridad</h4>
			</div>
			<p>Ingeniero Informático del INACAP, especializado en seguridad informática, probando la vulnerabilidad y seguridad de sistemas.&nbsp; Ha trabajado para IBM utilizando sistemas de información para respaldar información de grandes clientes. También trabajó en 3i Solutions como desarrollador Web en PHP. Además de haber participado en diversos proyectos personales y comunidades de emprendedores digitales como Hack/Hackers. Posee conocimientos especializados en HTML, Microsoft SQL Server, IT Service Management, DB2, IT Management, IT Databases.
			En Firma Express es el encargado principal de los protocolos de seguridad y encriptación de firma, y responsable del testeo de sistemas.</p>
		</div>
		<div id="bio">
			<%= image_tag "diegomaturana.png", { height: 80, width: 80 } %>
			<div id="datosbio">
				<h4>Diego Maturana B.</h4>
				<h4 class="biodatos">Co-Fundador</h4>
				<h4 class="biodatos">Director de Diseño</h4>
			</div>
			<p>Diseñador egresado de la Universidad Católica, especializado en diseño web, gráfico e interfaces web/móviles. Experto en Identidad corporativa, usabilidad y experiencia de usuario.
			Ha trabajado para diversos proyectos en áreas tan diversas como Animación, Identidad de marca, Fotografía, Educación, Editorial, Diseño de Experiencia, Publicidad, Sustentabilidad, eCommerce, eMarketing, sectores Industriales y creativos varios. 
			Para Firma Express, es el responsable de la imagen corporativa, el diseño y la usabilidad. 
			Aporta su conocimiento y experiencia en todo lo relativo a SEO, SEM, y gestión de comunidades, así como lo relativo a las presentaciones de negocios de la empresa.</p>
		</div>
		<br>
		<br>
		<h3>Asesores y Mentores</h3>
		<br>
		<div id="bio">
			<%= image_tag "judithbaeza.png", { height: 80, width: 80 } %>
			<div id="datosbio">
				<h4>Judith Baeza H.</h4>
				<h4 class="biodatos">Asesora Jurídica</h4>
			</div>
			<p class="textobio">Abogada especializada en Comercio internacional y Derecho privado corporativo. Magíster de la U.Chile y ayudante en la misma casa de estudios. Ha desempeñado roles en prestigiosos staff de abogados, en la ONU de Nueva York y en los tribunales superiores de Justicia de Chile donde actualmente es relatora.</p>
		</div>
		<div id="bio">
			<%= image_tag "franciscomasjuan.png", { height: 80, width: 80 } %>
			<div id="datosbio">
				<h4>Francisco Masjuan</h4>
				<h4 class="biodatos">Asesor de Tecnología</h4>
			</div>
			<p class="textobio">Francisco MasJuan es ingeniero informático y tiene un Master en Marketing y Dirección Comercial. Con más de 20 años de experiencia desarrollando nuevos negocios, entre los cuales se cuenta más de 10 años en Microsoft. Ha sido Marketing Director de InterSystems Chile, y fundador de Playware, entre otras empresas. Ha participado como mentor en el Founder Institute, Wayra y Lean Startup Machine.  Actualmente es socio y co-fundador de Co-Munity y HumanUp.</p>
		</div>
	</div>
</div>
<footer>
	<p class="left">Todos los Derechos Reservados a Firma Express 2013 / <a href="preguntasfrecuentes.html">Preguntas Frecuentes</a> / <a href="legal.html">Condiciones Legales</a>.</p>
	<p class="right">Dirección: Av. Nombre Nº1234 / Teléfono: +56 2 2342567 / Mail: contacto@firmaexpress.cl</p>
</footer>