<% content_for :title do %>
Contacto
<% end %>
<div id="container">
	<div id="headline">
		<h3>¡Comunícate con nosotros!</h3>
	</div>
	<div id="info">
		
		<%= form_tag({:controller => "users", :action => "contact" }, :method => "post") do %>
	    	<%= label_tag "name", "Nombre" %>
	   		<%= text_field_tag "name", "", :size => 5, :maxlenght => 5, :placeholder => "Nombre", :required => "required" %>

	   		<%= label_tag "email", "Mail" %>
	   		<%= text_field_tag "email", "", :size => 5, :maxlenght => 5, :placeholder => "Correo electrónico", :required => "required" %>

	   		<%= label_tag "message", "Mensaje" %>
	   		<%= text_area_tag "message", "", :size => 5, :maxlenght => 5, :placeholder => "Escribe Aquí tu mensaje.", :required => "required" %>
	   <br />
	   	<%= submit_tag "Enviar", {id: 'submit'} %>
		<% end %>
	</div>
</div>
<%= render "layouts/footer" %>