<% content_for :title do %>
Login
<% end %>
<div id="containerhome">
	<div id="login">
		<div id="slider">
		<h3>Conviertete hoy en un usuario de Firmaexpress y comienza a optimizar tu gestión de firma de documentos con nuestra poderosa herramienta.</h3>
		<%= link_to 'Prueba Gratis', new_user_registration_path, class: 'buttonprueba' %>
		<a class="buttoncomprar" title="Comprar" href="plans.html">Comprar</a>
		</div>
		<%= video_tag "FIRMAexpress01.mp4", size: '533x300', controls: 'true', type: 'video/mp4' %>
		<!--<%= image_tag "login.png", { height: 300, width: 533, class: 'imagenlogin' } %>-->
	</div>
    <div id="headline">
		<div id="insideheadline">
			<div id="box_1_3">
				<h3>Fácil</h3>
			</div>
			<div id="box_1_3">
				<h3>Rápido</h3>
			</div>
			<div id="box_1_3">
				<h3>Seguro</h3>
			</div>
		</div>
	</div>
	<div id="servicios">
		<div id="box_1_3">
			<p>Registrate como usuario en nuestro sitio, sube todos los documentos que quieras y luego firmalos para validarlos o enviarlos a tus contactos. Todo 100% online.</p></div>
		<div id="box_1_3">
			<p>Sube tus documentos en segundos, firmalos de inmediato sin trámites ni interrupciones, sin viajes ni pérdidas de tiempo. Con tan solo un click valida lo que quieras.</p>
		</div>
		<div id="box_1_3">
			<p>Contamos con un sistema preparado para proteger los datos personales de nuestros clientes y mantener la confidencialidad de todos sus documentos.</p>
		</div>
	</div>
	
	<div id="headline">
	<h3>Empresas que ya usan Firma Express</h3>
	</div>
	<div id="clientes">
		<%= image_tag "agemer.png", { width: 100, style: 'margin-right:12px;' } %><%= image_tag "alige.png", { width: 100, style: 'margin-right:12px;' } %><%= image_tag "bergerberger.png", { width: 100, style: 'margin-right:12px;' } %><%= image_tag "co-munity.png", { width: 100, style: 'margin-right:12px;' } %><%= image_tag "glauben.png", { width: 100, style: 'margin-right:12px;' } %><%= image_tag "humanup.png", { width: 100, style: 'margin-right:12px;' } %><%= image_tag "innovafull.png", { width: 100, style: 'margin-right:12px;' } %><%= image_tag "ki.png", { width: 100, style: 'margin-right:12px;' } %><%= image_tag "teohilfe.png", { width: 100, style: 'margin-right:12px;' } %><%= image_tag "vigaworks.png", { width: 100, style: 'margin-right:12px;' } %><%= image_tag "zupventures.png", { width: 100, style: 'margin-right:12px;' } %>
	</div>
	<div id="headline2">
		<h3>Valor que entrega Firma Express.</h3>
	</div>
	<div id="info2">
		<div id="bio2">
			<div id="wrapbio">
				<h3>Tus documetos disponibles en todo momento</h3>
				<p>Accede a tu repositorio virtual para encontrar tu documento con nuestro moderno sistema de búsqueda.</p>
				<%= image_tag "registrar.jpg", { width: 450, style: 'margin-left:20px;' } %>
			</div>
		</div>
	</div>
	<section id="slide-1" class="homeSlide">
		<div class="bcg skrollable skrollable-before" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1" style="background-position: 50% 0px;">
			<div class="hsContainer">
				<div class="hsContent skrollable skrollable-before" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 0" data-anchor-target="#slide-1 h2" style="bottom: 200px; opacity: 1;">
					<h2>Simple parallax scrolling is...</h2>
				</div>
			</div>
		</div>
	</section>
	<div id="info3">
		<div id="bio2">
			<div id="wrapbio">
				<h3>Genera acuerdos de confianza en pocos pasos</h3>
				<p>Firma Express te ayuda aumentar significativamente el numero de acuerdo que realices, debido al facil y moderno sistema que te entragamos para firmar todos los documetos que quieras. </p>
				<%= image_tag "subelo.jpg", { width: 450, style: 'margin-left:20px;' } %>
			</div>
		</div>
	</div>
	<section id="slide-2">
		<div class="bcg skrollable skrollable-before" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-2" style="background-position: 50% 0px;">
			<div class="hsContainer">
				<div class="hsContent skrollable skrollable-before" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 0" data-anchor-target="#slide-1 h2" style="bottom: 200px; opacity: 1;">
					<h2>Simple parallax scrolling is...</h2>
				</div>
			</div>
		</div>
	</section>
	<div id="info4">
		<div id="bio2">
			<div id="wrapbio">
				<h3>Firma documetos donde, cuando y con quien quieras</h3>
				<p>Con Firma Express siempre tendrás facilidad para firmar tus documentos y compartirlo con las personas que desean firmarlo para establecer un acuerdo. </p>
				<%= image_tag "firmalo.jpg", { width: 450, style: 'margin-left:20px;' } %>
			</div>
		</div>
	</div>
	<section id="slide-3">
		<div class="bcg skrollable skrollable-before" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-3" style="background-position: 50% 0px;">
			<div class="hsContainer">
				<div class="hsContent skrollable skrollable-before" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 0" data-anchor-target="#slide-1 h2" style="bottom: 200px; opacity: 1;">
					<h2>Simple parallax scrolling is...</h2>
				</div>
			</div>
		</div>
	</section>
	<div id="info5">
		<div id="bio2">
			<div id="wrapbio">
				<h3>Trabaja Inteligente, Rapido y Seguro</h3>
				<p>Con Firma Express podrás acceder a tus documetos, firmalos e inclusive imprimirlos cuando quieras. Todo esto de forma rapida y segura.    </p>
				<%= image_tag "envialo.jpg", { width: 450, style: 'margin-left:20px;' } %>
			</div>
		</div>
	</div>
	<section id="slide-4">
		<div class="bcg skrollable skrollable-before" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1" style="background-position: 50% 0px;">
			<div class="hsContainer">
				<div class="hsContent skrollable skrollable-before" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 0" data-anchor-target="#slide-1 h2" style="bottom: 200px; opacity: 1;">
					<h2>Simple parallax scrolling is...</h2>
				</div>
			</div>
		</div>
	</section>
</div>
<%= render "layouts/footer" %>
<script type="text/javascript">
( function( $ ) {
    // Init Skrollr
    var s = skrollr.init({
        render: function(data) {
            //Debugging - Log the current scroll position.
            //console.log(data.curTop);
        }
    });
} )( jQuery );
</script>
