<% content_for :title do %>
Gestión de Documentos
<% end %>
<% content_for :js do %>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("FEFront", []);
		app.controller("DocumentsListController", function($scope, $http){
			$http.get('/documents/list.json').success(function(data) {
				console.log(data);
				$scope.documents = data;
			});
		});
	</script>
<% end %>
<div id="containerdocumentos">
	<div id="headline">
		<h3>Gestión de Documentos</h3>
	</div>
	<div id="biblioteca" ng-controller="DocumentsListController">
		<div id="itemactive"><a href="<%= root_url %>"><h4>Subir Documento</h4></a></div>
		<div id="item"><a href=""><h4>Biblioteca</h4></a></div>
		<div id="options">
			<input type="search" placeholder="Buscar" class="search" ng-model="searchText">
		</div>
		<div id="item" ng-repeat="document in documents | filter:searchText">
			<a href="documents/{{ document.id }}"><p><strong>{{document.name}}</strong></p></a>
		</div>
	</div>
	<div id="optionsdocumento"></div>
	<div id="documento">
		<%= form_for @document, html: { style: "margin-top: 150px" } do |f| %>
			<%= f.file_field :path %>
			<div id="verificacion">
				<h4>Métodos de Verificación de Firma</h4>
				<table>
					<tbody>
						<tr width="80%">
							<th><%= radio_button_tag :level, 1, checked: true %></th>
							<th><%= label_tag :level_1, 'Nivel 1 (Verificación simple)', class: 'negro' %></th>
						</tr>
						<tr>
							<th><%= radio_button_tag :level, 2 %></th>
							<th><%= label_tag :level_2, 'Nivel 2 (V. simple y captcha)', class: 'negro' %></th>
						</tr>
						<tr width="20%">
							<th><%= radio_button_tag :level, 3 %></th>
							<th><%= label_tag :level_3, 'Nivel 3 (V. simple, captcha y nombre)', class: 'negro' %></th>
						</tr>
					</tbody>
				</table>
			</div>
			<%= submit_tag "Subir", { id: 'submit' } %>
		<% end %>
	</div>
	<div id="importante"><p class="datosextra">Solo se pueden subir documentos en PDF. Si no tienes tus archivos en este formato, utiliza nuestro conversor de Word a PDF <a href="conversor.html" style="color:#ab8f5a;font-weight:bolder;">aquí</a>.</p></div>
</div>
<footer>
<p class="left">Todos los Derechos Reservados a Firma Express 2013 / <a href="preguntasfrecuentes.html">Preguntas Frecuentes</a> / <a href="legal.html">Condiciones Legales</a>.</p>
<p class="right">Dirección: Av. Nombre Nº1234 / Teléfono: +56 2 2342567 / Mail: contacto@firmaexpress.cl</p>
</footer>