<% content_for :title do %>
-  Documentos
<% end %>
<% content_for :js do %>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("FEFront", []);
		app.controller("DocumentsListController", function($scope, $http){
			$http.get('/documents/list.json').success(function(data) {
				console.log(data);
				$scope.documents = data;
			});
		});
	</script>
<% end %>
<div id="containerdocumentos">
	<div id="headline">
		<h3>Gestión de Documentos</h3>
	</div>
	<div id="biblioteca" ng-controller="DocumentsListController">
		<div id="itemactive"><a href="<%= root_url %>"><h4>Subir Documento</h4></a></div>
		<div id="item"><a href=""><h4>Biblioteca</h4></a></div>
		<div id="options">
			<div id="numero2"></div>
			<input type="search" placeholder="Buscar" class="search" ng-model="searchText">
		</div>
		<div id="item" ng-repeat="document in documents | filter:searchText">
			<a href="documents/{{ document.id }}"><p><strong>{{document.name}}</strong></p></a>
		</div>
	</div>
	<div id="optionsdocumento"></div>
	<div id="documento">
	<% unless Participant.where(user: current_user, role_id: 1).count >= current_user.subscriber.plans.last.documents %>
		<%= form_for @document, html: { style: "margin-top: 100px" } do |f| %>
		<div id="numero3"></div>
			<%= f.file_field :path, required: 'required' %>
			<div id="verificacion">
				<h4>Métodos de Verificación de Firma</h4>
				<table>
					<tbody>
						<% @sign_security_levels.each do |security_level| %>
							<tr>
								<% if security_level.id == @sign_security_levels[0].id %>
									<th><%= radio_button_tag :level, security_level.id, checked: true %></th>
								<% else %>
									<th><%= radio_button_tag :level, security_level.id %></th>
								<% end %>
								<th><%= label_tag "level_#{security_level.id}".to_sym, "Nivel #{security_level.level}: #{security_level.description}", class: 'negro' %></th>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<br>
			<div id="numero5"></div>
			<br><br><br><br><br><br><br><br><br><br>
			<div id="numero6"></div>
			<%= submit_tag "Añadir a tu repositorio Virtual", { id: 'submit' } %>
		<% end %>
	<% else %>
		<div id="verificacion">
			<table>
				<tbody>
           			<p style="text-align:center;"><h4>Tienes <%= current_user.subscriber.plans.last.documents %> documentos en Firma Express y haz llegado al limite de tu cuenta, contrata un <%= link_to 'plan con más capacidad', plans_path %> para subír y firmar más documentos.</h4></p>
           	    </tbody>
           	</table>
        </div>   
	<% end %>	
	</div>
	<div id="importante"><p class="datosextra">Solo se pueden subir documentos en PDF. Si no tienes tus archivos en este formato, utiliza este conversor de Word a PDF <a href="http://www.freepdfconvert.com/" style="color:#ab8f5a;font-weight:bolder;">aquí</a>.</p></div>
</div>
<%= render "layouts/footer" %>
<!-- Tip Content -->
<% #if current_user.sign_in_count == 1 %>
    <ol id="joyRideTipContent">
      <li data-button="Comenzar">
        <h2>Bienvenido a Firma Express</h2>
      <p>Hola!!! Te daremos un rapido tour por las principales caracteristicas y bondades que te entrega Firma Express. Solo te tomará unos cuantos minutos.</p>
       <br>
      </li>
      <li data-id="numero2" data-button="Siguiente">
    	<h2>Encuentra tu Documento</h2>
        <p>Si posees una larga lista de documentos en tu repositorio, realiza la busqueda en tiempo real con el moderno sistema que te ofrece Firma Express.</p>
  	  </li>
  	  <li data-id="numero3" data-button="Siguiente">
        <h2>Añade un Documento</h2>
        <p>Selecciona tu documento PDF desde tu PC presionando Examinar. </p>
      </li>
      <li data-id="numero4">
     
      </li>
    <li data-id="numero5" data-button="Siguiente">
        <h2>Método de Para verificar tu firma</h2>
      <p>Selecciona un método de verificación y evitaras que cualquier bicho malicioso se haga pasar por tí cuando firmes. </p>
       <br>
   </li>
   <li data-id="numero6" data-button="Siguiente">
        <h2>Añade tu documento</h2>
      <p> Añada su documento a su repositorio presionando este botón</p>
       <br>
   </li>
    </ol>
<%#end%>
<script>
/*
  $(window).load(function() {
    $('#joyRideTipContent').joyride({
      autoStart : true,
      postStepCallback : function (index, tip) {
      if (index == 2) {
        $(this).joyride('set_li', false, 1);
      }
    },
    modal:true,
    expose: false
    });
  });*/
</script>
