<% content_for :title do %>
Gestión de Documentos
<% end %>
<% content_for :js do %>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("FEFront", []);
		app.controller("DocumentsListController", function($scope, $http){
			$http.get('/documents/list.json').success(function(data) {
				console.log(data);
				$scope.documents = data;
			});
		});
	</script>
<% end %>
<div id="containerdocumentos">
	<div id="headline">
		<h3>Gestión de Documentos</h3>
	</div>
	<div id="biblioteca" ng-controller="DocumentsListController">
		<div id="itemactive"><a href="<%= root_url %>"><h4>Subir Documento</h4></a></div>
		<div id="item"><a href=""><h4>Biblioteca</h4></a></div>
		<div id="options">
			<input type="search" placeholder="Buscar" class="search" ng-model="searchText">
		</div>
		<div id="item" ng-repeat="document in documents | filter:searchText">
			<a href="documents/{{ document.id }}"><p><strong>{{document.name}}</strong></p></a>
		</div>
	</div>
	<div id="optionsdocumento"></div>
	<div id="documento">
	<% if current_user.user_type.name == 'Admin' or current_user.user_type.name == 'Usuario' %>
		<%= form_for @document, html: { style: "margin-top: 100px" } do |f| %>
			<%= f.file_field :path %>
			<div id="verificacion">
				<h4>Métodos de Verificación de Firma</h4>
				<table>
					<tbody>
						<% @sign_security_levels.each do |security_level| %>
							<tr>
								<% if security_level.id == @sign_security_levels[0].id %>
									<th><%= radio_button_tag :level, security_level.id, checked: true %></th>
								<% else %>
									<th><%= radio_button_tag :level, security_level.id %></th>
								<% end %>
								<th><%= label_tag "level_#{security_level.id}".to_sym, "Nivel #{security_level.level}: #{security_level.description}", class: 'negro' %></th>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<%= submit_tag "Añadir a tu repositorio Virtual", { id: 'submit' } %>
		<% end %>
	<% else %>
		<div id="verificacion">
			<table>
				<tbody>
           			<p style="text-align:center;"><h4>Revisa y firma el documento que te han compartido</h4></p>
           	    </tbody>
           	</table>
        </div>   
	<% end %>	
	</div>
	<div id="importante"><p class="datosextra">Solo se pueden subir documentos en PDF. Si no tienes tus archivos en este formato, utiliza nuestro conversor de Word a PDF <a href="conversor.html" style="color:#ab8f5a;font-weight:bolder;">aquí</a>.</p></div>
</div>
<footer>
<p class="left">Todos los Derechos Reservados a Firma Express 2013 / <a href="preguntasfrecuentes.html">Preguntas Frecuentes</a> / <a href="legal.html">Condiciones Legales</a>.</p>
<p class="right">Dirección: Av. Nombre Nº1234 / Teléfono: +56 2 2342567 / Mail: contacto@firmaexpress.cl</p>
</footer>