<% content_for :title do %>
	<%= @document.name %>
<% end %>
<% content_for :styles do %>
	<% stylesheet_link_tag "print.css" %>
	<link href='https://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
<% end %>
<% content_for :js do %>
	<%= javascript_include_tag "bootstrap-modal.js" %>
	<%= javascript_include_tag "show_document.angular.js" %>
<% end %>
<div id="containerdocumentos">
	<div id="headline">
		<h3>Gestión de Documentos</h3>
	</div>
	<div id="biblioteca" ng-controller="DocumentsListController">
		<div id="item"><a href="<%= root_url %>"><h4>Subir Documento</h4></a></div>
		<div id="item"><a href=""><h4>Biblioteca</h4></a></div>
		<div id="options">
			<input type="search" placeholder="Buscar" class="search" ng-model="searchText">
		</div>
		<div id="item{{ document.id == <%= @document.id %> | iif : 'activo' : '' }}" ng-repeat="document in documents | filter:searchText">
			<a href="{{ document.id }}"><p><strong>{{document.name}}</strong></p></a>
		</div>
	</div>
	  
	<div id="optionsdocumento" ng-controller="DocumentOptionsController" ng-init="document_id=<%= @document.id %>">
		<% if @signed.signed == true %>
		<ul>
			<div class="alert alert-success" role="alert" >Documento firmado por usted</div>
		</ul>
		<%end%>
		<ul>
			<% if @document.agreed %>
				<li><a href="" onclick="var PDF = document.getElementById('documento2'); PDF.focus(); PDF.contentWindow.print();">Imprimir</a></li>
			<% end %>
			<% if @signed.signed == false %>
				<li><a data-toggle="modal" data-target="#modal-panel-participant-sign" name="button-participants" id="button-participants">Firmar</a></li>	
			<% end %>
			<% if @current_user_role.id == 1 and !@document.agreed %>
				<li><a href="" confirmed-click="destroy()" 
    ng-confirm-click="¿Está seguro de eliminar este documento?">Eliminar</a></li>
				<li><a data-toggle="modal" data-target="#modal-panel-participants" name="button-participants" id="button-participants">Compartir</a></li>
            <% end %>
            <% if @document.agreed or (@current_user_role.id != 1 and !@document.agreed) %>
            	<li><a data-toggle="modal" data-target="#modal-panel-participants" name="button-participants" id="button-participants">Ver firmas</a></li>
            <% end %>
			<% if false #@invitations_left.count > 0 %>
				<li style="width:150px"><a data-toggle="modal" data-target="#modal-panel-new-user-invite" name="button-new-user-invite" id="button-new-user-invite"><%= @invitations_left.count %> invitaciones disponibles</a></li>
			<% end %>
		</ul>
	</div>
	<div id="modal-panel-participants" ng-controller="ParticipantOptionsController" ng-init="document_id=<%= @document.id %>" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="db-modal-box">
					<button style="float: right; border: 0px none; background: none repeat scroll 0% 0% transparent; font-size: 20px; font-weight: bold; color: rgb(0, 0, 0); cursor: pointer;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="db-modal-title" id="myModalLabel">Compartir: <%= @document.name.capitalize %></h2>
				</div>
				<div class="db-modal-content">
					<h5>Nº Miembros</h5>
					<div id="miembros" >
						<table id="box-table-a">
							<thead>
								<tr>
									<th width="300">Miembro</th>
									<th style="text-align:center;">Estado</th>
									<th style="text-align:center;">Rol</th>
									<!--<th style="text-align:center;">Eliminar</th> -->
								</tr>
							</thead>
							<tbody>
								<% @participants.each do |participant| %>
								    <% @count_participant = @participants.count  %>
									<% sign_state = if participant.signed

										'Firmado'
									else

										'Sin Firmar'
									end %>
									<tr>
										<% unless participant.first_name == nil %>
											<td><%= participant.first_name %> <%= participant.last_name %></td>
										<% else %>
											<td><%= participant.email%></td>
										<% end %>	
										<td style="text-align:center;"><%= sign_state %></td>
										<td style="text-align:center;"><%= participant.role %></td>
										<!--<td style="text-align:center;"><a href="#" confirmed-click="destroy(<%= participant.user_id %>)" ng-confirm-click="¿Está seguro que desea eliminar este participante?" class="negro" >X</a></td> -->
									</tr>
								<% end %>
							</tbody>
						</table>
						<!-- Invitation Form -->
					</div><br>
					<% if @document.agreed %>
						<h5 style="text-align:center;">DOCUMENTO FIRMADO POR TODOS SUS MIEMBROS</h5>
						<div id="miembros2">
							<%= image_tag("timbredocumentofirmado.png")%>
						</div><br>
						<p class="negro">Como elemento de seguridad, lee el código QR para verificar los participantes del documento.</p><br>
							<!-- Show QR -->
							<p style="text-align:center;"><img src="http://chart.apis.google.com/chart?chs=200x200&cht=qr&chl=http://<%= request.host %>/check_document/<%= @document.id %>&choe=ISO-8859-1"></p><br />
							<div class="modal-footer">
								<p class="negro" style="text-align:center;">Sellado <%= @document.agreed_at %></p>	
							</div>
						<% else %>
							<% if @current_user_role.id  == 1 %>
								<div id="invitaciones">
									<div ng-controller="InviteController" ng-init="document_id=<%= @document.id %>">
										<input class="email" ng-model="emails"  ng-enter="invite()" type="text" placeholder="Ingresar emails separados por comas" id="invitees_emails" />
										<input type="button" ng-click="invite()" id="invitar" value="Enviar" /><br><p></p><br>
										<p><%= image_tag 'facebook_lo.gif', style: 'display: none;text-align:center;margin-left:auto;margin-right:auto;', id: 'invitation_loading', height: '25' %></p>
										<div id="invitation_message" style="display:none" class="alert alert-success">{{ message }}</div>
									</div>
								</div>
							<% end %>
							<div class="modal-footer">
							</div>
						<% end %>
					</div>
			</div>
		</div>
	</div>
	<div id="modal-panel-new-user-invite" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Invitar</h4>
				</div>
				<div class="modal-body">
					<!-- Invitation Form -->
					<div ng-controller="NewUserInviteController">
						<input ng-model="emails" ng-enter="invite()" type="text" placeholder="Ingresar emails separados por comas" id="invitees_emails" />
						<div>{{ message }}</div>
					</div>
				</div>
				<div class="modal-footer">
					
				</div>
			</div>
		</div>
	</div>
	<div id="modal-panel-user-sign-ok" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="db-modal">
			<p style="text-align:center;margin-top:25px;"><%= image_tag 'FirmaExpress2.png', width: '300' %></p>
			<p style="text-align:center;margin-top:15px;">
			<img class="img-circle" style="margin-top: -1px; margin-left: 0px" src="<%=root_url + current_user.avatar.to_s %>" width=80 height=80>
			</p><br><br>
			<p style="text-align:center;font-family: 'Arizonia', cursive;font-size:50px" class='negro'><%= current_user.first_name %> <%= current_user.last_name %></p><br><br>
			<p style="color:#000;text-align:center;margin-bottom:15px;font-family: 'Lato',sans-serif;font-weight: lighter;">Has firmado el documento exitosamente</p>
			<div id="invitaciones">
				<div id="continuar" onclick="location.reload(true);">Continuar</div>
			</div>
		</div>		
	</div>
	<div ng-controller="DocumentSignController" id="modal-panel-participant-sign" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-init="user_id=<%= current_user.id %>;user_fullname='<%= "#{current_user.first_name} #{current_user.last_name}".downcase %>';document_id=<%= @document.id %>">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<br>
					<br>
					<p><center><%= image_tag("FirmaExpress2.png", width: "300")%></center></p>
					<br>
					<center><img class="img-circle" style="margin-top: -1px; margin-left: 30px" src="<%=root_url + current_user.avatar.to_s %>" width=80 height=80></center>
					<p style="text-align:center;color:#000;margin-top:15px;font-size:22px;">
						<strong>
							Hola <%= current_user.first_name %>
						</strong>
					</p>
					<p style="text-align:center;color:#000;margin-top:10px;padding-bottom:25px;border-bottom:1px solid #000;font-size:16px;margin-left:auto;margin-right:auto;font-family: 'Lato',sans-serif;font-weight: lighter;">Estas apunto de firmar el Documento: "<%= @document.name.capitalize %>"</p>
					<!-- el siguente if verifica que el participante sea el dueño del documento y  el unico participante en este momento. se mnuetra mensaje cumpliendo esta condicion-->
					<% if @current_user_role.id == 1 and @count_participant == 1 %>
						<div class="alert alert-info" role="alert">Importante: Hasta el momento es el unico particpante en este documento, si firma se creara el sello con estado firmado y no podrá realizar invitaciones para que otras personas firmen el documento.</div>
					<%end%>
						<form name="signForm" role="form">
							<table class="negro">
							<% @security_methods.each do |method| %>
								<% if method.id == 1 %>
									<tr><td><%= label_tag :method_1, '¿Estás seguro de querer firmarlo?' %></td><td><%= check_box_tag :method_1, 1, nil, 'ng-model' => "methods[#{method.id}]", 'ng-init' => "methods[#{method.id}]=false" %></td></tr>
								<% elsif method.id == 3 %>
									<tr><td><%= label_tag :method_3, 'Ingrese su nombre y apellido' %></td><td><%= text_field_tag :method_3, '', 'ng-model' => "methods[#{method.id}]", 'ng-init' => "methods[#{method.id}]=''", style: 'width:150px;border:1px solid #aaa;height:5px;' %></td></tr>
								<% end %>
							<% end %>
							</table>
							<center><input ng-disabled="registerForm.$invalid" type="button" ng-click="sign()" id="btn-blue" value="Aceptar" /><input type="button" data-dismiss="modal" id="btn-blue" value="Cancelar"/></center>
						</form>
					<p><%= image_tag 'fb-loader.gif', style: 'display: none;text-align:center;margin-left:auto;margin-right:auto;', id: 'sign_loading', height: '25' %></p>
				</div>
			</div>
		</div>		
	</div>	
	<iframe id="documento2" src="<%= root_path + @document.path %><% if @document.agreed %>_signed<% end %>"></iframe>
	<div id="importante"><p class="datosextra">Solo se pueden subir documentos en PDF. Si no tienes tus archivos en este formato, utiliza nuestro conversor de Word a PDF <a href="conversor.html" style="color:#ab8f5a;font-weight:bolder;">aquí</a>.</p></div>
</div>
<footer>
<p class="left">Todos los Derechos Reservados a Firma Express 2014 / <a href="legal.html">Condiciones Legales</a>.</p>
<p class="right">Mail: contacto@firmaexpress.cl</p>
</footer>
<div class="print">
	<% if @document.agreed %>
	<h2><%= @document.name %></h2><br /><br />
	<h3>Folio: <%= @document.id %></h3><br />
	<ul>
		<% @participants.each do |participant| %>
			<% sign_state = if participant.signed
				'Firmado'
			else
				'Sin Firmar'
			end %>
			<li><%= participant.first_name %> <%= participant.last_name %> - <%= participant.role %> - <%= sign_state %></li>
		<% end %>
	</ul>
	<!--<div id="miembros2" style="text-align:center">-->
	<%= image_tag("timbredocumentofirmado.png", width: "300px", height: "202px")%>
	<!--</div>-->
	<!-- Show QR -->
	<img src="http://chart.apis.google.com/chart?chs=200x200&cht=qr&chl=http://<%= request.host %>/check_document/<%= @document.id %>&choe=ISO-8859-1">
	<p class="print">Sellado <%= @document.agreed_at %></p>
	<% end %>
</div>