<% content_for :title do %>
	<%= @document.name %>
<% end %>
<% content_for :style do %>
	<% stylesheet_link_tag "bootstrap-theme.css" %>
	<% stylesheet_link_tag "print.css" %>
<% end %>
<% content_for :js do %>
<%= javascript_include_tag "bootstrap-modal.js" %>
	<script type="text/javascript">
		var app = angular.module("FEFront", []);
		app.directive('ngEnter', function () {
		    return function (scope, element, attrs) {
		        element.bind("keydown keypress", function (event) {
		            if(event.which === 13) {
		                scope.$apply(function (){
		                    scope.$eval(attrs.ngEnter);
		                });

		                event.preventDefault();
		            }
		        });
		    };
		});
		app.directive('ngConfirmClick', function(){
			return {
				link: function (scope, element, attr) {
					var msg = attr.ngConfirmClick || "Are you sure?";
					var clickAction = attr.confirmedClick;
					element.bind('click',function (event) {
						if ( window.confirm(msg) ) {
							scope.$eval(clickAction)
						}
					});
				}
			};
		})
		app.filter('iif', function () {
			return function(input, trueValue, falseValue) {
				return input ? trueValue : falseValue;
			};
		});
		app.controller("DocumentsListController", function($scope, $http){
			$http.get('../documents/list.json').success(function(data) {
				console.log(data);
				$scope.documents = data;
			});
		});
		app.controller("InviteController", function($scope, $http){
			$scope.message = "";
			$scope.invite = function(){
				var emails = $scope.emails;
				$scope.emails = undefined;
				if($scope.validateEmails(emails))
				{
					console.log(emails);
					$http.get('../users/invite.json?t=participant&d=<%= @document.id %>&e=' + emails).success(function(data) {
						console.log(data);
					});
				}
			}
			$scope.validateEmails = function(emails){
				var valid_emails = true;
				if(emails != undefined)
				{
					emails = emails.replace(/ /g,'');
					emails_arr = emails.split(",");
					for(var index = 0; index < emails_arr.length; index++)
					{
						if($scope.validateEmail(emails_arr[index]) == false)
						{
							valid_emails = false;
							break;
						}
					}
				}
				else
					valid_emails = false;
				return valid_emails;
			}
			$scope.validateEmail = function(email) { 
				var re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
				return re.test(email);
			}
		});
		app.controller("NewUserInviteController", function($scope, $http){
			$scope.message = "";
			$scope.invite = function(){
				var emails = $scope.emails;
				$scope.emails = undefined;
				if($scope.validateEmails(emails))
				{
					console.log(emails);
					$http.get('../users/invite.json?t=free&e=' + emails).success(function(data) {
						console.log(data);
					});
				}
			}
			$scope.validateEmails = function(emails){
				var valid_emails = true;
				if(emails != undefined)
				{
					emails = emails.replace(/ /g,'');
					emails_arr = emails.split(",");
					for(var index = 0; index < emails_arr.length; index++)
					{
						if($scope.validateEmail(emails_arr[index]) == false)
						{
							valid_emails = false;
							break;
						}
					}
				}
				else
					valid_emails = false;
				return valid_emails;
			}
			$scope.validateEmail = function(email) { 
				var re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
				return re.test(email);
			}
		});
		app.controller("DocumentOptionsController", function($scope, $http){
			$scope.document_id = <%= @document.id %>;
			$scope.sign = function(){
				$http.get('../documents/sign/' + $scope.document_id + '.json').success(function(data) {
					console.log(data);
				});
			}
			$scope.destroy = function(){
				$http.get('../documents/destroy/' + $scope.document_id + '.json').success(function(data) {
					console.log(data);
					window.location.href = "http://<%= request.host %>"
				});
			}
		});
	</script>
	<% javascript_include_tag "bootstrap-modal.js" %>
<% end %>
<div id="containerdocumentos">
	<div id="headline">
		<h3>Gestión de Documentos</h3>
	</div>
	<div id="biblioteca" ng-controller="DocumentsListController">
		<div id="item"><a href="<%= root_url %>"><h4>Subir Documento</h4></a></div>
		<div id="item"><a href=""><h4>Biblioteca</h4></a></div>
		<div id="options">
			<input type="search" placeholder="Buscar" class="search" ng-model="searchText">
		</div>
		<div id="item{{ document.id == <%= @document.id %> | iif : 'activo' : '' }}" ng-repeat="document in documents | filter:searchText">
			<a href="{{ document.id }}"><p><strong>{{document.name}}</strong></p></a>
		</div>
		<!--
		<% @documents.each do |doc|%>
			<% if doc.id == @document.id %>
				<div id="itemactivo">
			<% else %>
				<div id="item">
			<% end %>
			<a href="<%= doc.id %>"><p><strong><%= doc.name %></strong> / <i>Progreso: 1 de 4</i></p></a></div>
		<% end %>
		-->
	</div>
	<div id="optionsdocumento" ng-controller="DocumentOptionsController">
		<ul>
			<% if @document.agreed %>
				<li><a href="" onclick="window.print();">Imprimir</a></li>
			<% end %>
			<% if @signed.signed == false %>
				<li><a href="" confirmed-click="sign()" 
    ng-confirm-click="¿Está seguro de firmar este documento?">Firmar</a></li>
			<% end %>
			<% if @current_user_role.id  == 1 and !@document.agreed %>
				<li><a href="" confirmed-click="destroy()" 
    ng-confirm-click="¿Está seguro de eliminar este documento?">Eliminar</a></li>
				<li><a data-toggle="modal" data-target="#modal-panel-participants" name="button-participants" id="button-participants">Compartir</a></li>
            <% end %>
            <% if @current_user_role.id  == 1 and @document.agreed %>
            	<li><a data-toggle="modal" data-target="#modal-panel-participants" name="button-participants" id="button-participants">Ver firmas</a></li>
            <% end %>
			<% if false #@invitations_left.count > 0 %>
				<li style="width:150px"><a data-toggle="modal" data-target="#modal-panel-new-user-invite" name="button-new-user-invite" id="button-new-user-invite"><%= @invitations_left.count %> invitaciones disponibles</a></li>
			<% end %>
		</ul>
	</div>
	<div id="modal-panel-participants" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel"><%= @document.name %></h4>
				</div>
				<div class="modal-body">
					<ul>
						<% @participants.each do |participant| %>
							<% sign_state = if participant.signed
								'Firmado'
							else
								'Sin Firmar'
							end %>
							<li class="negro"><%= participant.first_name %> <%= participant.last_name %> - <%= participant.role %> - <%= sign_state %></li>
						<% end %>
					</ul>
					<!-- Invitation Form -->
					<br />
					<% if @document.agreed %>
					<!-- Show QR -->
					<img src="http://chart.apis.google.com/chart?chs=200x200&cht=qr&chl=http://<%= request.host %>/check_document/<%= @document.id %>&choe=ISO-8859-1"><br />
					<p class="negro">Sellado <%= @document.agreed_at %></p>
					<% else %>
					<h4 class="negro">Invitar<h4/>
					<div ng-controller="InviteController">
						<input ng-model="emails" ng-enter="invite()" type="text" placeholder="Ingresar emails separados por comas" id="invitees_emails" />
						<div>{{ message }}</div>
					</div>
					<% end %>
				</div>
				<div class="modal-footer">
					
				</div>
			</div>
		</div>
	</div>
	<div id="modal-panel-new-user-invite" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Invitar</h4>
				</div>
				<div class="modal-body">
					<!-- Invitation Form -->
					<div ng-controller="NewUserInviteController">
						<input ng-model="emails" ng-enter="invite()" type="text" placeholder="Ingresar emails separados por comas" id="invitees_emails" />
						<div>{{ message }}</div>
					</div>
				</div>
				<div class="modal-footer">
					
				</div>
			</div>
		</div>
	</div>
	<iframe id="documento2" src="<%= root_path + @document.path %>"></iframe>
	<div id="importante"><p class="datosextra">Solo se pueden subir documentos en PDF. Si no tienes tus archivos en este formato, utiliza nuestro conversor de Word a PDF <a href="conversor.html" style="color:#ab8f5a;font-weight:bolder;">aquí</a>.</p></div>
</div>
<footer>
<p class="left">Todos los Derechos Reservados a Firma Express 2013 / <a href="preguntasfrecuentes.html">Preguntas Frecuentes</a> / <a href="legal.html">Condiciones Legales</a>.</p>
<p class="right">Dirección: Av. Nombre Nº1234 / Teléfono: +56 2 2342567 / Mail: contacto@firmaexpress.cl</p>
</footer>
<div class="print">
	<% if @document.agreed %>
	<h2><%= @document.name %></h2><br /><br />
	<h3>Folio: <%= @document.id %></h3><br />
	<ul>
		<% @participants.each do |participant| %>
			<% sign_state = if participant.signed
				'Firmado'
			else
				'Sin Firmar'
			end %>
			<li><%= participant.first_name %> <%= participant.last_name %> - <%= participant.role %> - <%= sign_state %></li>
		<% end %>
	</ul>
	<!-- Show QR -->
	<img src="http://chart.apis.google.com/chart?chs=200x200&cht=qr&chl=http://<%= request.host %>/check_document/<%= @document.id %>&choe=ISO-8859-1">
	<p class="print">Sellado <%= @document.agreed_at %></p>
	<% end %>
</div>