<% content_for :title do %>
	<%= @document.name %>
<% end %>
<% content_for :style do %>
	<% stylesheet_link_tag "bootstrap-theme.css" %>
<% end %>
<% content_for :js do %>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("FEFront", []);
		app.directive('ngEnter', function () {
		    return function (scope, element, attrs) {
		        element.bind("keydown keypress", function (event) {
		            if(event.which === 13) {
		                scope.$apply(function (){
		                    scope.$eval(attrs.ngEnter);
		                });

		                event.preventDefault();
		            }
		        });
		    };
		});
		app.controller("InviteController", function($scope, $http){
			$scope.message = "";
			$scope.invite = function(){
				var emails = $scope.emails;
				$scope.emails = undefined;
				if(emails != undefined)
				{
					emails = emails.replace(/ /g,'');
					emails_arr = emails.split(",");
					var valid_emails = true;
					for(var index = 0; index < emails_arr.length; index++)
					{
						if($scope.validateEmail(emails_arr[index]) == false)
						{
							valid_emails = false;
							break;
						}
					}
					if(valid_emails)
					{
						console.log(emails);
						$http.get('../users/invite.json?d=<%= @document.id %>&e=' + emails).success(function(data) {
							console.log(data);
						});
					}
				}
			}
			$scope.validateEmail = function(email) { 
				var re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
				return re.test(email);
			}
		});
	</script>
	<% javascript_include_tag "bootstrap-modal.js" %>
<% end %>
<div id="containerdocumentos">
	<div id="headline">
		<h3>Gestión de Documentos</h3>
	</div>
	<div id="biblioteca">
		<div id="item"><a href="<%= root_url %>"><h4>Subir Documento</h4></a></div>
		<div id="item"><a href=""><h4>Biblioteca</h4></a></div>
		<div id="options"><input type="search" placeholder="Buscar" class="search">
		<input type="submit" value="" class="submit"><%= image_tag "b.png", { height: 28, width: 28 } %><%= image_tag "bin.png", { height: 28, width: 28 } %></div>
		<% @documents.each do |doc|%>
			<% if doc.id == @document.id %>
				<div id="itemactivo">
			<% else %>
				<div id="item">
			<% end %>
			<a href="<%= doc.id %>"><p><strong><%= doc.name %></strong> / <i>Progreso: 1 de 4</i></p></a></div>
		<% end %>
		<div id="item">
			<a href=""><p><strong>Tiene <%= @invitations_left.count %> invitaciones disponibles</strong></p></a>
		</div>
	</div>
	<div id="optionsdocumento">
		<ul>
			<% if @signed.signed == false %>
				<li><%= link_to "Firmar", controller: 'documents', action: 'sign', id: @document, data: { confirm: "¿Está seguro de firmar este documento?" } %></li>
			<% end %>
			<% if @current_user_role.id  == 1 %>
				<li> <%= link_to "Eliminar", controller: 'documents', action: 'destroy', id: @document %></li>
            <% end %>
			<li><a data-toggle="modal" data-target="#modal-panel-participants" name="button-participants" id="button-participants">Participantes</a></li>
		</ul>
	</div>
	<div id="modal-panel-participants" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Participantes</h4>
				</div>
				<div class="modal-body">
					<ul>
						<% @participants.each do |participant| %>
							<% sign_state = if participant.signed
								'Firmado'
							else
								'Sin Firmar'
							end %>
							<li class="negro"><%= participant.first_name %> <%= participant.last_name %> - <%= participant.role %> - <%= sign_state %></li>
						<% end %>
					</ul>
					<!-- Invitation Form -->
					<br />
					<h4 class="negro">Invitar<h4/>
					<div ng-controller="InviteController">
						<input ng-model="emails" ng-enter="invite()" type="text" placeholder="Ingresar emails separados por comas" id="invitees_emails" />
						<div>{{ message }}</div>
					</div>
				</div>
				<div class="modal-footer">
					
				</div>
			</div>
		</div>
	</div>
	<iframe id="documento2" src="<%= root_path + @document.path %>"></iframe>
	<div id="importante"><p class="datosextra">Solo se pueden subir documentos en PDF. Si no tienes tus archivos en este formato, utiliza nuestro conversor de Word a PDF <a href="conversor.html" style="color:#ab8f5a;font-weight:bolder;">aquí</a>.</p></div>
</div>
<footer>
<p class="left">Todos los Derechos Reservados a Firma Express 2013 / <a href="preguntasfrecuentes.html">Preguntas Frecuentes</a> / <a href="legal.html">Condiciones Legales</a>.</p>
<p class="right">Dirección: Av. Nombre Nº1234 / Teléfono: +56 2 2342567 / Mail: contacto@firmaexpress.cl</p>
</footer>