<% content_for :title do %>
Acceder
<% end %>
<div id="container">
	<div id="headline">
		<h3>Acceder</h3>
	</div>
	<div id="info">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<%= f.email_field :email, { placeholder: 'E-mail', class: 'inputhome', autofocus: 'true'} %>
				<%= f.password_field :password, { placeholder: 'Password', class: 'inputhome'}%>
				<%= f.submit "Ingresar", { id: 'submit' }%>
				<% if devise_mapping.rememberable? -%>
					 <%= f.label :remember_me, 'Recuérdame' %> <%= f.check_box :remember_me %>
  				<% end -%>
				<%= render "devise/shared/links" %>
				<%= render "layouts/alerts" %>
			<% end %>
			<p class="datosextra"></p>
	</div>
</div>