<!DOCTYPE html>
<html ng-app="FEFront">
<head>
  <title>Firma Express <%= yield :title %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag "joyride-2.1.css"%>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Yellowtail|Kaushan+Script|Damion' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <%= yield :styles %>
  <% #javascript_include_tag "application", "data-turbolinks-track" => false %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= javascript_include_tag "angular.min.js" %>
  <%= javascript_include_tag "angular-re-captcha.js" %>
  <% if Rails.env.production? %>
  <%= javascript_include_tag "ga.js" %>
  <%= javascript_include_tag "zopim.js" %>
  <% end %>
  <%= javascript_include_tag "skrollr.js" %>
  <%= javascript_include_tag "jquery-1.10.1.js" %>
  <%= javascript_include_tag "jquery.cookie.js" %>
  <%= javascript_include_tag "modernizr.mq.js" %>
  <%= javascript_include_tag "jquery.joyride-2.1.js" %>
  <%= csrf_meta_tags %>
  <%= yield :js %>
</head>
<body>
	<header>
		<div id="logo">
      <% if current_user %>
        <a href="<%= user_root_url %>">
      <% else %>
			 <a href="<%= root_url %>">
      <% end %>
        <%= image_tag "FirmaExpress1.png", { height: 60, width: 321 } %>
      </a>
		</div>
    <div id="wrap">
        <nav>
            <ul>
              <% if current_user %>
                <% if current_user.subscriber.plans.last.name == 'Gratis' %>
                  <li class="cambiaAplan"><%= link_to 'Obtener un plan', plans_path %></li>
                <% end %>
                <li><%= link_to "Bienvenido #{current_user.first_name}", profile_path %></li>
                <li><img class="img-circle" style="margin-top: -5px; margin-left: 5px" src="<%= root_url + current_user.avatar.to_s %>" width=30 height=30></li>
                <% if current_user.user_type_id == 1 %>
                <% end %>
                <li><%= link_to 'Home', user_root_path %></li>
                <li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
              <% else %>
                <li><%= link_to 'Iniciar Sesión', new_user_session_path %></li>
                <li><%= link_to 'Nosotros', about_us_path %></li>
                <li><%= link_to 'Planes', plans_path %></li>
                <li><%= link_to 'Beneficios', benefits_path %></li>
                <li><%= link_to 'Preguntas frecuentes', contact_form_path %></li>
                <li><%= link_to 'Contacto', contact_form_path %></li>
              <% end %>
            </ul>
        </nav>
      </div>
	</header>

<%= yield %>

</body>
</html>
