<!DOCTYPE html>
<html ng-app="FEFront">
<head>
  <title>Firma Express - <%= yield :title %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yellowtail|Kaushan+Script|Damion' rel='stylesheet' type='text/css'>
  <%= yield :styles %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  <%= yield :js %>
</head>
<body>
	<header>
		<div id="logo">
			<a href="<%= root_url %>"><%= image_tag "FirmaExpress1.png", { height: 60, width: 321 } %></a>
		</div>
    <div id="wrap">
        <nav>
            <ul>
              <% if current_user %>
                <li><%= link_to 'Bienvenido ' + current_user.first_name.to_s.capitalize, profile_path %></li>
                <li><img class="img-circle" style="margin-top: -5px; margin-left: 5px" src="<%= root_url + current_user.avatar.to_s %>" width=30 height=30></li>
                <% if current_user.user_type_id == 1 %>
                  <li><%= link_to 'Registrar usuario', new_user_registration_path %></li>
                <% end %>
                <li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
              <% else %>
                <li><%= link_to 'Nosotros', about_us_path %></li>
                <li><%= link_to 'Planes', plans_path %></li>
                <li><%= link_to 'Contacto', contact_form_path %></li>
              <% end %>
            </ul>
        </nav>
      </div>
	</header>

<%= yield %>

</body>
</html>