<!DOCTYPE html>
<html ng-app="FEFront">
<head>
  <title>Firma Express - <%= yield :title %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag "joyride-2.1.css"%>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Yellowtail|Kaushan+Script|Damion' rel='stylesheet' type='text/css'>
  <%= yield :styles %>
  <% #javascript_include_tag "application", "data-turbolinks-track" => false %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= javascript_include_tag "angular.min.js" %>
  <%= javascript_include_tag "angular-re-captcha.js" %>
  <%= javascript_include_tag "ga.js" %>
  <%= javascript_include_tag "skrollr.js" %>
  <%= javascript_include_tag "jquery-1.10.1.js" %>
  <%= javascript_include_tag "jquery.cookie.js" %>
  <%= javascript_include_tag "modernizr.mq.js" %>
  <%= javascript_include_tag "jquery.joyride-2.1.js" %>
  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='//v2.zopim.com/?2KSm7e5T40W18dXjCIwasPcBuMrswFx2';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
  </script>
  <!--End of Zopim Live Chat Script-->
  <%= csrf_meta_tags %>
  <%= yield :js %>
</head>
<body>
	<header>
		<div id="logo">
      <% if current_user %>
        <a href="<%= user_root_url %>">
      <% else %>
			 <a href="<%= root_url %>">
      <% end %>
        <%= image_tag "FirmaExpress1.png", { height: 60, width: 321 } %>
      </a>
		</div>
    <div id="wrap">
        <nav>
            <ul>
              <% if current_user %>
                <li><%= link_to 'Bienvenido ' + current_user.first_name.to_s.capitalize, profile_path %></li>
                <li><img class="img-circle" style="margin-top: -5px; margin-left: 5px" src="<%= root_url + current_user.avatar.to_s %>" width=30 height=30></li>
                <% if current_user.user_type_id == 1 %>
                <% end %>
                <li><%= link_to 'Home', user_root_path %></li>
                <li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
              <% else %>
                <li><%= link_to 'Prueba gratis', new_user_registration_path %></li>
                <li><%= link_to 'Acceder', new_user_session_path %></li>
                <li><%= link_to 'Nosotros', about_us_path %></li>
                <li><%= link_to 'Planes', plans_path %></li>
                <li><%= link_to 'Contacto', contact_form_path %></li>
              <% end %>
            </ul>
        </nav>
      </div>
	</header>

<%= yield %>

</body>
</html>